<div class="row mb-3">
    <div class="col-6">
        <label for="formFile" class="form-label">Default file input example</label>
        <input (change)="selectFile($event)" class="form-control" type="file" id="formFile">
        <button (click)="uploadFile()" [disabled]="!selectedFile" type="button" class="btn btn-primary my-3">Feltöltés</button>
    </div>
  
</div>
<div *ngIf="upload" class="row">
    <div class="progress" role="progressbar" aria-label="Animated striped example" [attr.aria-valuenow]="percentage" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="{'width':percentage+'%'}"></div>
      </div>
</div>